<%= render 'sidebar'%>	
	<div class="col-sm-9 padding-right">
	<%= render 'features_items'%>
	<%= render 'categorytab'%>				
	<%= render 'shared/recommended_items'%>
				
	</div>
</div>
</div>
</section>
	
