<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
<td><%= line_item.quantity %>&times;</td>
<td><%= line_item.book.title %></td>
<td class="item_price"><%=(line_item.total) %></td>
</tr>